[submodule "dwm"]
	path = dwm
	url = https://github.com/burddan/dwm
[submodule "st"]
	path = st
	url = https://github.com/burddan/st
[submodule "nvim"]
	path = nvim
	url = https://github.com/burddan/nvim
